#root {
/*  max-width: 1280px;*/
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--primaryColor);

  --primaryColor: #DBD3D3;
  --secondaryColor: #091057;
  --accentColor: #EC8305;
  --extraColor: #024CAA;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
}

.navbar {
  width: 20%;
  background-color: var(--secondaryColor);
}

.nav_menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
}

.basket_btn {
  background-color: var(--accentColor);
}