#root {
/*  max-width: 1280px;*/
  width: 100%;
  text-align: center;
  background-color: var(--primaryColor);

  --primaryColor: white;
  --secondaryColor: #091057;
  --accentColor: #EC8305;
  --extraColor: rgb(61, 61, 61);
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.routerButton {
  border: none;
  background: none;
  text-decoration: none;
}

/*a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}*/

.background {
  margin-top: 0;
  background-image: url("./assets/clothesStore.jpg");
  mask-image: linear-gradient(to bottom, var(--primaryColor) 95%, transparent);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  padding-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar {
  width: 20vw;
  opacity: 0.9;
  background-color: var(--extraColor);
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .navbar {
    width: 50vw;
    margin-left: 0;
    margin-right: 0;
  }
}

.nav_menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
}

.aboutBuisness {
  width: 100vw;
  height: 60vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.aboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 60vh;
  width: 30vw;
  margin-right: 20vw;
  margin-bottom: 5vh;
  font-size: 2rem;
  opacity: 0.75;
  background: radial-gradient(circle, var(--secondaryColor) 65%, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
/*  background-color: var(--secondaryColor);
  mask-image: linear-gradient(to bottom, transparent, var(--secondaryColor) 50%, transparent);*/
  color: white;
  border-radius: 100px;
  
}

.productsBtn {
  padding: 3%;
}

.basketBtn {
  background-color: var(--accentColor);
  border-radius: 20px;
  padding: 3%;
}

.slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 45vh;
}