.product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

.productImage {
    width: 40vw;
}

@media (max-width: 800px) {
    .productImage {
        width: 90vw;
    }
    .product {
        flex-direction: column;
        align-items: center;
    }
}